.sideNavigation {
  cursor: pointer;
  &Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .more {
      border-radius: 50%;
      padding: 2px;
      width: 35px;
      display: grid;
      align-items: center;
      color: #5e5e5e;
      height: 35px;
      background-color: #d1d1d1;
      cursor: pointer;

      svg {
        font-size: 24px;
      }
    }
  }
}
.sideNavigationDrawer {
  .sideMenuIcon svg {
    font-size: 26px;
    font-weight: 600;
    color: #5e5e5e;
    transform: rotate(90deg);
  }
  .ant-drawer-body {
    padding: 0;
    .ant-list-item-meta-avatar svg {
      color: $primary-color;
      font-size: 28px;
      margin-top: 5px;
    }
    .ant-list-item-meta-title a:hover {
      color: $primary-color !important;
    }
  }
}
.userDetail {
  text-align: center;
  &_name {
    font-size: 28px;
    margin: 20px 0;
  }
  div.zodstar {
    display: flex;
    justify-content: center;
    gap: 5px;
    color: $font-secondary-color;
    span + span {
      font-size: 25px;
      color: $font-color;
      font-weight: 400;
      line-height: 1;
    }
    span.zodstar {
      color: $primary-color;
      font-size: 12px;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      width: fit-content;
      span {
        color: #5e5e5e;
        font-size: 9px;
        text-align: right;
      }
    }
  }
}
.moreMenu {
  .ant-dropdown-menu-item svg {
    color: $primary-color;
    font-size: 24px;
  }
}
