.grid {
  display: grid;
  &-col90 {
    grid-template: auto / 5fr 90fr 5fr;
    .block__inner {
      grid-column: 3/2;
    }
  }
  &-col80 {
    grid-template: auto / 10fr 80fr 10fr;
    .block__inner {
      grid-column: 3/2;
    }
  }
  &-col70 {
    grid-template: auto / 15fr 70fr 15fr;
    .block__inner {
      grid-column: 3/2;
    }
  }
  &-col60 {
    grid-template: auto / 20fr 60fr 20fr;
    .block__inner {
      grid-column: 3/2;
    }
  }
  &-col50 {
    grid-template: auto / 25fr 50fr 25fr;
    .block__inner {
      grid-column: 3/2;
    }
  }
  &-col40 {
    grid-template: auto / 30fr 40fr 30fr;
    .block__inner {
      grid-column: 3/2;
    }
  }
}
.block {
  &__1x2 {
    grid-template: auto / repeat(2, 1fr);
  }
  &__1x3 {
    grid-template: auto / repeat(3, 1fr);
  }
}

.padding-vertical {
  padding: $vertical-padding;
}
