$primary-color: #db0617;
$secondary-color: #b4b4b4;
$accent-color: #707070;
$font-color: #5e5e5e;
$font-secondary-color: #979797;
$font-default-color: #fff;
$border-color: #d5d5d5;
$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 900,
);
$vertical-padding: 4rem 0;
$assetPath: "../webImages";
